[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fdaPOIFD"]
	path = fdaPOIFD
	url = https://github.com/aefdz/fdapoifd
[submodule "localFDA"]
	path = localFDA
	url = https://github.com/aefdz/localfda
